.contentChat {
  flex: 7;
  background-color: rgb(212, 212, 212);
  padding: 5px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatBox {
  margin: 0;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatBoxTop{
  overflow-y: scroll;
  padding-right: 5px;
}
.chatInput {
  margin: 0;
  width: 78%;
  height: 32px;
  padding: 8px;
}
.chatBtn {
  margin: 0;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
